In [15]:
prices=[1200,850,4300,2999,1500,850]

total_prices=len(prices)
print("the total_prices:",total_prices)
average_prices=sum(prices)/len(prices)
print("the average of prices:",average_prices)
above_prices=[]
for price in prices:
  if price>2000:
    above_prices.append(price)
print("the above_prices:",above_prices)

prices.sort(reverse=True)
print("sorting prices in decending:",prices)

the total_prices: 6
the average of prices: 1949.8333333333333
the above_prices: [4300, 2999]
sorting prices in decending: [4300, 2999, 1500, 1200, 850, 850]

In [18]:
locations=[(24.8607, 67.0011),
    (31.5204, 74.3587),
    (33.6844, 73.0479)]
print(locations)
latitude=[]
for location in locations:
  latitude.append(location[0])
print("the latitude:",latitude)
#locations[0][0]=25.899
#tuples are immutable, so we cannot change their values
print("the total coodinates of pairs:",len(locations))

[(24.8607, 67.0011), (31.5204, 74.3587), (33.6844, 73.0479)]
the latitude: [24.8607, 31.5204, 33.6844]
the total coodinates of pairs: 3

In [29]:
python_students={"ali","sara","ahmed","zain"}
ml_students={"sara","hassan","ali","fatima"}
intersection=python_students.intersection(ml_students)
print("the students enrolled in both courses :",intersection)
difference=python_students.difference(ml_students)
print("the students only in python:",difference)
union=python_students.union(ml_students)
print("the combination of both python and ml students:",union)
ml_students.add("aliza")
print(ml_students)

the students enrolled in both courses : {'ali', 'sara'}
the students only in python: {'zain', 'ahmed'}
the combination of both python and ml students: {'zain', 'hassan', 'ahmed', 'ali', 'sara', 'fatima'}
{'hassan', 'ali', 'aliza', 'sara', 'fatima'}

In [39]:
employees = {
    "E01": {"name": "Ali", "salary": 60000},
    "E02": {"name": "Sara", "salary": 75000},
    "E03": {"name": "Ahmed", "salary": 50000}
}
print("employees ids",employees.keys())
total_payroll=0
for emp in employees:
  total_payroll+=employees[emp]["salary"]
print("the total_payroll:",total_payroll)
high_earns=[]
for emp_id,emp_info in employees.items():
  if emp_info["salary"]>60000:
    high_earns.append(emp_info["name"])
print("the employees earning above 60000:",high_earns)
employees["E04"]={"name":"aliza","salar":80000}
print(employees)

employees ids dict_keys(['E01', 'E02', 'E03'])
the total_payroll: 185000
the employees earning above 60000: ['Sara']
{'E01': {'name': 'Ali', 'salary': 60000}, 'E02': {'name': 'Sara', 'salary': 75000}, 'E03': {'name': 'Ahmed', 'salary': 50000}, 'E04': {'name': 'aliza', 'salar': 80000}}

In [40]:
sales_data = {
    "electronics": [
        ("Laptop", 120000, 3),
        ("Mouse", 1500, 10)
    ],
    "clothing": [
        ("Shirt", 2500, 5),
        ("Shoes", 5000, 2)
    ]
}
category_revenue = {}

unique_products = set()

for category, products in sales_data.items():
    total = 0
    for product_name, price, quantity in products:
        total += price * quantity
        unique_products.add(product_name)
    category_revenue[category] = total
print("Revenue Report")
for category, revenue in category_revenue.items():
    print(f"Category: {category.capitalize()}")
    print(f"  Total Revenue: {revenue}")
print("Unique Products Sold:", ", ".join(unique_products))

Revenue Report
Category: Electronics
  Total Revenue: 375000
Category: Clothing
  Total Revenue: 22500
Unique Products Sold: Shoes, Laptop, Mouse, Shirt